services:
  app:
    build: .
    container_name: app
    ports:
      - "${APP_PORT}:${APP_INTERNAL_PORT}"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    env_file:
      - .env

  redis:
    image: redis:8-alpine
    container_name: redis
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "${REDIS_PORT}:6379"
    env_file:
      - .env

volumes:
  postgres_data:
  redis_data:
